@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: url(img/backgroundCity.jpg) center center / cover no-repeat;
}
h1,
p {
  font-size: 60px;
  text-align: center;
  margin: 0 auto;
  font-family: "fatfrank", sans-serif;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
p {
  margin-top: 50px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}
.info {
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  word-break: break-word;
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.info span {
  margin: 2.5px 6px 2.5px 2.5px;
}
@media (max-width: 640px) {
  body {
    -webkit-text-size-adjust: none;
  }
  h1 {
    font-size: 50px;
  }
  p {
    margin-top: 80px;
  }
  .info span {
    display: block;
  }
  .info em {
    display: none;
  }
}
